In [48]:
import warnings
warnings.filterwarnings('ignore')

In [49]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [50]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

# Read the CSV and Perform Basic Data Cleaning

In [51]:
# https://help.lendingclub.com/hc/en-us/articles/215488038-What-do-the-different-Note-statuses-mean-

columns = [
    "loan_amnt", "int_rate", "installment", "home_ownership",
    "annual_inc", "verification_status", "issue_d", "loan_status",
    "pymnt_plan", "dti", "delinq_2yrs", "inq_last_6mths",
    "open_acc", "pub_rec", "revol_bal", "total_acc",
    "initial_list_status", "out_prncp", "out_prncp_inv", "total_pymnt",
    "total_pymnt_inv", "total_rec_prncp", "total_rec_int", "total_rec_late_fee",
    "recoveries", "collection_recovery_fee", "last_pymnt_amnt", "next_pymnt_d",
    "collections_12_mths_ex_med", "policy_code", "application_type", "acc_now_delinq",
    "tot_coll_amt", "tot_cur_bal", "open_acc_6m", "open_act_il",
    "open_il_12m", "open_il_24m", "mths_since_rcnt_il", "total_bal_il",
    "il_util", "open_rv_12m", "open_rv_24m", "max_bal_bc",
    "all_util", "total_rev_hi_lim", "inq_fi", "total_cu_tl",
    "inq_last_12m", "acc_open_past_24mths", "avg_cur_bal", "bc_open_to_buy",
    "bc_util", "chargeoff_within_12_mths", "delinq_amnt", "mo_sin_old_il_acct",
    "mo_sin_old_rev_tl_op", "mo_sin_rcnt_rev_tl_op", "mo_sin_rcnt_tl", "mort_acc",
    "mths_since_recent_bc", "mths_since_recent_inq", "num_accts_ever_120_pd", "num_actv_bc_tl",
    "num_actv_rev_tl", "num_bc_sats", "num_bc_tl", "num_il_tl",
    "num_op_rev_tl", "num_rev_accts", "num_rev_tl_bal_gt_0",
    "num_sats", "num_tl_120dpd_2m", "num_tl_30dpd", "num_tl_90g_dpd_24m",
    "num_tl_op_past_12m", "pct_tl_nvr_dlq", "percent_bc_gt_75", "pub_rec_bankruptcies",
    "tax_liens", "tot_hi_cred_lim", "total_bal_ex_mort", "total_bc_limit",
    "total_il_high_credit_limit", "hardship_flag", "debt_settlement_flag"
]

target = ["loan_status"]

In [52]:
# Load the data
file_path = Path('Resources/LoanStats_2019Q1.csv.zip')
df = pd.read_csv(file_path, skiprows=1)[:-2]
df = df.loc[:, columns].copy()

# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')

# Drop the null rows
df = df.dropna()

# Remove the `Issued` loan status
issued_mask = df['loan_status'] != 'Issued'
df = df.loc[issued_mask]

# convert interest rate to numerical
df['int_rate'] = df['int_rate'].str.replace('%', '')
df['int_rate'] = df['int_rate'].astype('float') / 100


# Convert the target column values to low_risk and high_risk based on their values
x = {'Current': 'low_risk'}   
df = df.replace(x)

x = dict.fromkeys(['Late (31-120 days)', 'Late (16-30 days)', 'Default', 'In Grace Period'], 'high_risk')    
df = df.replace(x)

df.reset_index(inplace=True, drop=True)

df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

# Split the Data into Training and Testing

In [60]:
# Create our features
X = df.copy()
X.drop('loan_status',axis=1,inplace=True)

# Use update list to perform get_dummies
X = pd.get_dummies(X)

In [61]:
# Create our target
y = df['loan_status']

In [62]:
X.describe()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,issue_d_Mar-2019,pymnt_plan_n,initial_list_status_f,initial_list_status_w,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,application_type_Individual,application_type_Joint App,hardship_flag_N,debt_settlement_flag_N
count,68817.000000,68817.000000,68817.000000,6.881700e+04,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,...,68817.000000,68817.0,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.0,68817.0
mean,16677.594562,0.127718,480.652863,8.821371e+04,21.778153,0.217766,0.497697,12.587340,0.126030,17604.142828,...,0.177238,1.0,0.123879,0.876121,0.383161,0.616839,0.860340,0.139660,1.0,1.0
std,10277.348590,0.048130,288.062432,1.155800e+05,20.199244,0.718367,0.758122,6.022869,0.336797,21835.880400,...,0.381873,0.0,0.329446,0.329446,0.486161,0.486161,0.346637,0.346637,0.0,0.0
min,1000.000000,0.060000,30.890000,4.000000e+01,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,...,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,1.0
25%,9000.000000,0.088100,265.730000,5.000000e+04,13.890000,0.000000,0.000000,8.000000,0.000000,6293.000000,...,0.000000,1.0,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.0,1.0
50%,15000.000000,0.118000,404.560000,7.300000e+04,19.760000,0.000000,0.000000,11.000000,0.000000,12068.000000,...,0.000000,1.0,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.0,1.0
75%,24000.000000,0.155700,648.100000,1.040000e+05,26.660000,0.000000,1.000000,16.000000,0.000000,21735.000000,...,0.000000,1.0,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.0,1.0
max,40000.000000,0.308400,1676.230000,8.797500e+06,999.000000,18.000000,5.000000,72.000000,4.000000,587191.000000,...,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0

In [63]:
# Check the balance of our target values
y.value_counts()

low_risk     68470
high_risk      347
Name: loan_status, dtype: int64

In [64]:
# Split the X and y into X_train, X_test, y_train, y_test
# YOUR CODE HERE
from sklearn.model_selection import train_test_split

# Set random_state for consistence throughout the notebook
random_state = 15

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=random_state)

## Data Pre-Processing

Scale the training and testing data using the `StandardScaler` from `sklearn`. Remember that when scaling the data, you only scale the features data (`X_train` and `X_testing`).

In [65]:
# Create the StandardScaler instance
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [66]:
# Fit the Standard Scaler with the training data
# When fitting scaling functions, only train on the training dataset
# YOUR CODE HERE
X_scaler = scaler.fit(X_train)

In [67]:
# Scale the training and testing data
# YOUR CODE HERE
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# Ensemble Learners

In this section, you will compare two ensemble algorithms to determine which algorithm results in the best performance. You will train a Balanced Random Forest Classifier and an Easy Ensemble classifier . For each algorithm, be sure to complete the folliowing steps:

1. Train the model using the training data. 
2. Calculate the balanced accuracy score from sklearn.metrics.
3. Print the confusion matrix from sklearn.metrics.
4. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.
5. For the Balanced Random Forest Classifier onely, print the feature importance sorted in descending order (most important feature to least important) along with the feature score

Note: Use a random state of 1 for each algorithm to ensure consistency between tests

### Balanced Random Forest Classifier

In [68]:
# Resample the training data with the BalancedRandomForestClassifier
# YOUR CODE HERE
# Import the BalancedRandomForestClassifier
from imblearn.ensemble import BalancedRandomForestClassifier

# Create an instance of the BalancedRandomForestClassifier model
brf = BalancedRandomForestClassifier(n_estimators=1000, random_state=random_state)

# Fit the model using the X_train (inclusive of the scaled process) and y_train
brf.fit(X_train_scaled, y_train)

BalancedRandomForestClassifier(n_estimators=1000, random_state=15)

In [69]:
# Calculated the balanced accuracy score
# YOUR CODE HERE
# First, find the y_predictions using the model and X_test inclusive of the scaled process
y_predictions = brf.predict(X_test_scaled)

# Then, using the predictions and the y_test numbers, find the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score

balanced_accuracy_score(y_test, y_predictions)

0.7879414708632884

In [70]:
# Display the confusion matrix
# YOUR CODE HERE
from sklearn.metrics import confusion_matrix

# Create the confusion matrix
cm = confusion_matrix(y_test,y_predictions)

# Visualize the Confusion Matrix using a DataFrame
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"]
)
print("Confusion Matrix")
display(cm_df)

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0           63           33
Actual 1         1375        15734

In [71]:
# Print the imbalanced classification report
# YOUR CODE HERE
# Import the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced

# Display the imbalanced classification report
print('IMBALANCED CLASSIFICATION REPORT')
print(classification_report_imbalanced(y_test, y_predictions))

IMBALANCED CLASSIFICATION REPORT
                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.04      0.66      0.92      0.08      0.78      0.59        96
   low_risk       1.00      0.92      0.66      0.96      0.78      0.62     17109

avg / total       0.99      0.92      0.66      0.95      0.78      0.62     17205

In [72]:
# List the features sorted in descending order by feature importance
# YOUR CODE HERE
# Get the feature importance array
#importances = brf.feature_importances_

#importances_sorted = sorted(zip(X.columns,importances),reverse=True)
#importances_sorted

importances = brf.feature_importances_
std = np.std([tree.feature_importances_ for tree in brf.estimators_],
             axis=0)
indices = np.argsort(importances)[::-1]

# Print the feature ranking
print("Feature ranking:")

for f in range(X.shape[1]):
    print("%d. feature %s %f" % (f + 1, X.columns.values[indices[f]], importances[indices[f]]))
#%d

Feature ranking:
1. feature total_rec_prncp 0.066222
2. feature total_pymnt 0.064078
3. feature total_pymnt_inv 0.062188
4. feature last_pymnt_amnt 0.061398
5. feature total_rec_int 0.058884
6. feature issue_d_Jan-2019 0.028612
7. feature int_rate 0.026453
8. feature dti 0.017999
9. feature installment 0.016680
10. feature max_bal_bc 0.016210
11. feature out_prncp 0.016051
12. feature mo_sin_old_rev_tl_op 0.015941
13. feature out_prncp_inv 0.015467
14. feature annual_inc 0.015140
15. feature issue_d_Mar-2019 0.015105
16. feature mo_sin_old_il_acct 0.015104
17. feature avg_cur_bal 0.014615
18. feature tot_hi_cred_lim 0.014324
19. feature mths_since_recent_inq 0.014207
20. feature revol_bal 0.014010
21. feature total_bc_limit 0.013522
22. feature bc_util 0.013448
23. feature il_util 0.013323
24. feature tot_cur_bal 0.013089
25. feature bc_open_to_buy 0.012543
26. feature all_util 0.012491
27. feature total_bal_il 0.012480
28. feature total_il_high_credit_limit 0.012451
29. feature loan_amnt 0.012106
30. feature total_bal_ex_mort 0.012054
31. feature total_rev_hi_lim 0.011917
32. feature mths_since_recent_bc 0.011657
33. feature mths_since_rcnt_il 0.011623
34. feature total_acc 0.010893
35. feature mo_sin_rcnt_rev_tl_op 0.010679
36. feature num_rev_accts 0.010384
37. feature open_acc 0.010269
38. feature num_il_tl 0.009793
39. feature mo_sin_rcnt_tl 0.009307
40. feature num_sats 0.009139
41. feature num_op_rev_tl 0.009116
42. feature pct_tl_nvr_dlq 0.008856
43. feature num_bc_tl 0.008486
44. feature inq_last_12m 0.007947
45. feature acc_open_past_24mths 0.007876
46. feature num_rev_tl_bal_gt_0 0.007728
47. feature num_actv_rev_tl 0.007506
48. feature issue_d_Feb-2019 0.007450
49. feature num_bc_sats 0.007274
50. feature inq_fi 0.007156
51. feature total_rec_late_fee 0.006928
52. feature percent_bc_gt_75 0.006695
53. feature total_cu_tl 0.006547
54. feature open_rv_24m 0.006530
55. feature num_tl_op_past_12m 0.006448
56. feature num_actv_bc_tl 0.006442
57. feature open_il_24m 0.006150
58. feature open_act_il 0.005809
59. feature mort_acc 0.005463
60. feature inq_last_6mths 0.005211
61. feature delinq_2yrs 0.005131
62. feature open_rv_12m 0.005006
63. feature open_acc_6m 0.004782
64. feature next_pymnt_d_Apr-2019 0.004633
65. feature next_pymnt_d_May-2019 0.004318
66. feature tot_coll_amt 0.003906
67. feature open_il_12m 0.003895
68. feature num_accts_ever_120_pd 0.003300
69. feature verification_status_Verified 0.002700
70. feature verification_status_Not Verified 0.001898
71. feature application_type_Individual 0.001850
72. feature home_ownership_MORTGAGE 0.001812
73. feature verification_status_Source Verified 0.001719
74. feature pub_rec_bankruptcies 0.001617
75. feature home_ownership_RENT 0.001589
76. feature home_ownership_OWN 0.001508
77. feature pub_rec 0.001322
78. feature initial_list_status_w 0.001319
79. feature application_type_Joint App 0.001240
80. feature initial_list_status_f 0.001224
81. feature num_tl_90g_dpd_24m 0.000873
82. feature collections_12_mths_ex_med 0.000485
83. feature home_ownership_ANY 0.000273
84. feature chargeoff_within_12_mths 0.000119
85. feature delinq_amnt 0.000007
86. feature num_tl_30dpd 0.000000
87. feature pymnt_plan_n 0.000000
88. feature recoveries 0.000000
89. feature collection_recovery_fee 0.000000
90. feature policy_code 0.000000
91. feature acc_now_delinq 0.000000
92. feature num_tl_120dpd_2m 0.000000
93. feature tax_liens 0.000000
94. feature hardship_flag_N 0.000000
95. feature debt_settlement_flag_N 0.000000

### Easy Ensemble Classifier

In [73]:
# Train the EasyEnsembleClassifier
# YOUR CODE HERE
# Import the EasyEnsembleClassifier model
from imblearn.ensemble import EasyEnsembleClassifier

# Create an instance of the EasyEnsembleClassifier model
eec = EasyEnsembleClassifier(random_state=random_state)

# Train the EasyEnsembleClassifier model with training data
eec.fit(X_train_scaled, y_train)

EasyEnsembleClassifier(random_state=15)

In [74]:
# Calculated the balanced accuracy score
# YOUR CODE HERE

# Find the y_predictions using the eec model above
y_predictions_1 = eec.predict(X_test_scaled)

# Return the balanced accuracy score
print('BALANCED ACCURACY SCORE')
balanced_accuracy_score(y_test, y_predictions_1)

BALANCED ACCURACY SCORE

0.9173415673037582

In [75]:
# Display the confusion matrix
# YOUR CODE HERE
# Create the confusion matrix
cm_1 = confusion_matrix(y_test,y_predictions_1)

# Visualize the Confusion Matrix using a DataFrame
cm_df_1 = pd.DataFrame(
    cm_1, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"]
)
print("Confusion Matrix")
display(cm_df_1)

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0           85           11
Actual 1          868        16241

In [76]:
# Print the imbalanced classification report
# YOUR CODE HERE
# Display the imbalanced classification report
print('IMBALANCED CLASSIFICATION REPORT')
print(classification_report_imbalanced(y_test, y_predictions_1))

IMBALANCED CLASSIFICATION REPORT
                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.09      0.89      0.95      0.16      0.92      0.84        96
   low_risk       1.00      0.95      0.89      0.97      0.92      0.85     17109

avg / total       0.99      0.95      0.89      0.97      0.92      0.85     17205

# Conclusions

1) The model with the best balanced accuracy score is the Easy Ensemble Classifier. This model uses boosting to train weak learners sequentially by learning from the mistakes of previous learners. 

2) The Easy Ensemble Classifier had the higest recall score.

3) The Easy Ensemble Classifier had the higest geometric score.

4) 
total_rec_prncp,
total_pymnt, and 
total_pymnt_inv are the three most import features.